* { user-select: none; }

.selection-area {
  outline: 1px solid black;
  outline-offset: -2px;
  color: black;
  font-weight: bold;
  background-color:rgba(255, 0, 0, 0.3);
}

#center {
    height: 480px;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    /* display: inline-block; */
}
.step_row {
    line-height: 32px; 
    /* float: none; */
}

.step_row_end {
    /* display: inline; */
    /* float: left; */
}

.step_row > img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.ds-selected {
  outline: 1px solid black;
  outline-offset: 2px;
  color: black;
  font-weight: bold;
}

.step_row:focus {
    /* background-color:rgba(255, 0, 0, 0.3); */
}

.step_row:hover{
    /* background-color:#FF0000; */
}

/* div :focus { */
/*     background: yellow; */
/*     color: blue; */
/*     background-color: blue; */
/* } */
